
<div class='jumbotron text-center'>
		<h1>Informed Consent</h1>

<div class='panel-body' overflow-y: scroll>
<h1>VASSAR COLLEGE</h1>
<h2>Department of Cognitive Science</h2>
<h2>Adult Consent Form</h2>
<h4>Primary Investigator:  Joshua Ridley</h4>

<h3>Title of Project:  Short-term memory of a graphical interface for user authentication services.</h3>

<div class='body-text'>This is a research project conducted under the Cognitive Science Department at Vassar College. In this experiment, you will be asked to create a user account, consisting of a unique user name and password, for a specific website and attempt to accurately log back in within a specified duration of time. This experiment investigates how different factors of constructing a password allows for a greater accuracy of authentication. The entirety of the experiment is expected to take approximately [5-20] minutes to complete. This includes creating the user account and logging in to the specific site at a later time. Your personal information (name, email address, or Internet Protocol (IP) address) will not be associated with your data and will combined with other data and analyzed for this experiment. You are free to stop the experiment at any time by simply closing your browser window. If you have any question or concerns, you can contact the Principal Investigator, Joshua Ridley, at <a href='mailto:jordley@vassar.edu'>jordley@vassar.edu</a></div>
 

<div class='body-text'>Potential Risks: The risks of participation are minimal, meaning that they are no greater than that encountered in everyday life tasks.</div>

<div class='body-text'>Potential Benefits: There are no known benefits to the individual for participation in the study.</div>

<div class='body-text'>By clicking on the “I AGREE” button, you are aware of the nature of your participation in this project and affirm that you are at least 18 years of age. You understand that you may withdraw your participation in this project at any time by simply closing your web browser. 
</div>


</div>

<a href='/expinfo'>
	<button class="btn btn-default text-center" id='submit-consent' type="button">I AGREE</button>
</a>

<form action='/expinfo' method='GET'>
	<button class="btn btn-default text-center" id='submit-consent' type="submit">I Form</button>
</form>

<a href='/expinfo'>
	<div class="btn btn-default text-center" id='submit-consent' type="div">I AGREE</div>
</a>

<style>
	/* Some custom style. Feel free to delete this */
	h1,p {
		font-family: menlo;
		
		color: white;
	}
	.jumbotron h1 {
		color: white;
	}
	a, a:hover {
		color: #27ae60;
	}
	.jumbotron {
		background-color: #34495e;
	}
</style>
