<div class='jumbotron text-center'>
		<h1></h1>

<div class='panel-body' overflow-y: scroll>
<h2>Task Instructions:</h2>


<div class='body-text'>You will be given an opportunity to create a unique user name. Your username cannot be the same as another participant, if so you will be prompted to create a different username. After successfully creating a username, a bank of images will appear. You must create your personal password by selecting 5 of these images. When creating your password, images cannot be selected more than once. Note that the order in which your images are chosen matters as your password is the sequential order of those images.</div>

	<div class='body-text text'>EXAMPLE:</div> 
		<div class='body-text'>If your password is 1,2,3,4,5 no matter the order in which they appear, when you log back in, you must first select 1, then select 2, and so on until you have selected all 5 in the correct order.</div>

	 <div class='body-text'>If you select your password images out of order, this will constitute as a failed attempt and you will be prompted to try again. Once you have created your password, you will be notified of when we would like you to log back in.</div>

<div class='body-text'>Please do not write down your password at any time during this experiment. 
</div>

</div>

<a href='/signup'>
	<button class="btn btn-default text-center" id='submit-info' type="button">Begin</button>
</a>

<style>
	/* Some custom style. Feel free to delete this */
	h1,p {
		font-family: "Source Sans Pro",sans-serif;
		
		color: #81B8B9;
	}
	.jumbotron h1 {
		color: #81B8B9;
	}
	a, a:hover {
		color: #27ae60;
	}
	.jumbotron {
		background-color: white;
	}
</style>
