<div class='jumbotron text-center'>
		<h1>HEEWWWWLLLLLOOOOOO</h1>
</div>

<style>
	/* Some custom style. Feel free to delete this */
	h1,p {
		font-family: menlo;
		color: white;
	}
	.jumbotron h1 {
		color: white;
	}
	a, a:hover {
		color: #27ae60;
	}
	.jumbotron {
		background-color: #34495e;
	}
</style>
<script>
	console.log('\n\n\n\n\n\nThanks for using Sinatra Boilerplate! Much Love!\n\n\n\n\n\n\n');
</script>
