<div class='jumbotron text-center'>
		<h2>Hello</h2>
		<h2>Welcome to my experiment </h2>
		
</div>

<style>
	/* Some custom style. Feel free to delete this */
	h1,p {
		font-family: menlo;
		color: white;
	}
	.jumbotron h1 {
		color: white;
	}
	a, a:hover {
		color: #27ae60;
	}
	.jumbotron {
		background-color: white;
	}
</style>
