<div class='jumbotron text-center'>
		<h2>Hello</h2>
		<h2>Welcome to my experiment </h2>
		
</div>
<div class='consent-btn'>
	<a href='/consent'>
		<button class="btn btn-default text-center" id='submit-consent' type="button">START</button>
	</a>
</div>

<style>
/* Some custom style */
body {
	background-color: rgba(0,0,0, 0.4);
}

h1,p {
	font-family: menlo;
	color: white;
}

.jumbotron h1 {
	color: white;
}

a, a:hover {
	color: #27ae60;
}
/*	.jumbotron {
		background-color: white;
		}*/
</style>
