<div class="flex-grid">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div class='upper'>
	<div class='alert'></div>

	<div class='jumbotron text-center'>
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Username</label>
	    <input type="email" class="form-control" id="signup-un" placeholder="Choose a username">
	  </div>
	</form>

	<div class='selected'></div>
	<div><span id="progress">0</span>/5 Selected</div>
	<div class='remove-last empty'>remove last</div>
	<div class="image-container">
		<% @images.each do |image| %>
			<img class='signup' src=<%= image.url %> id='<%= image.id %>' />
		<% end %>
	</div>
	<div class='type hidden' data-type="<%= @type %>" data-ids="<%= @imageIds %>" />
</div>

<h1> </h1>

<button class="btn btn-default text-center" id='submit-signup' type="button">Create Account</button>



<style>
	/* Some custom style. Feel free to delete this */


	h1,p {
		font-family: menlo;
		
		color: white;
	}
	.jumbotron h1 {
		color: white;
		background-color: white;
	}
	a, a:hover {
		color: #27ae60;
	}
	.upper {
		background-image: url('../../Vassar_Library.jpg');
		background-color: #cccccc;
	}
</style>