<!-- <div class='jumbotron text-center'>
		<h2>Thank you</h2>
		<h2>for your participation</h2>
		
</div> -->

<div id="cheat-container">
	<iframe src="https://docs.google.com/a/vassar.edu/forms/d/e/1FAIpQLSfjBZgp20VvYeemxGQjsIIBhJIApUxBlWHzri6bGrIjs24CJw/viewform?embedded=true" width="1000" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<!-- <div id="trophy-container">
</div> -->

<style>
	/* Some custom style */
  body {
    background-color: rgba(0,0,0, 0.4);
  }
	h1,p {
		font-family: menlo;
		color: white;
	}
	 /* .trophy-container 
    {
	    width: 780px;
        background: #FFF url('../../trophy.jpg') no-repeat center top;
        margin: 0 auto;
        height:100%;
   }*/
	.jumbotron h1 {
		color: white;
	}
	a, a:hover {
		color: #27ae60;
	}
	.jumbotron {
		background-color: white;
	}
</style>
