<div class='jumbotron text-center'>
<form class="" action="/auth/images" method="post">
	<input type="text" name="username" value="username" >
	<input type="submit" name="" value="Submit" >
</form>
</div>

<style>
	h1,p {
		font-family: menlo;
		color: white;
	}
	.jumbotron h1 {
		color: black;
		font-size: 20px;
	}
	a, a:hover {
		color: #27ae60;
	}
</style>
